.membershipPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

.membershipInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;

}

.membershipHeaderContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding-top: 100px;
}

.membershipHeaderContent h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

.membershipHeaderContent p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
}

.membershipHeaderLine {
    width: 80px;
    height: 2px;
    background: var(--primary);
    margin: 2rem 0;
}

.membershipTiers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.membershipTierLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--primary);
    padding: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 300px;
    height: 350px;
    color: #fff;
}

.membershipTierRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--primary);
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 300px;
    height: 350px;
    color: #fff;
}

.membershipTierDiamond {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--primary-light);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 300px;
    height: 400px;
    color: #fff;
}

.membershipTierTitle {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.membershipTierSubtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.membershipLine {
    width: 80px;
    height: 2px;
    background: #fff;
    margin: 1rem 0;
}

.membershipTierPrice {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.membershipTierButton {

    color: #fff;
    padding: 3px 10px;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.membershipBenefits {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    background: #f6f7f9;
    border: 1px solid #e6e8ee
}

.membershipBenefitsTitle {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary);
    text-align: left;
}

.membershipBenefitsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin-left: 20px;
}

.membershipBenefitsList ul {
    list-style: disc;
    padding: 0;
    margin: 0;
}

.membershipBenefitsList li {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 1rem;
}

.membershipBenefitsSubtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary);
    text-align: left;
    width: 100%;
    text-align: center;
}

.membershipDiscountContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background: var(--primary);
    color: #fff;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.membershipDiscountContent {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0;
    gap: 1rem;
}

.membershipDiscountTitle {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.membershipDiscountSubtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-align: left;
}

.membershipDiscountButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    cursor: pointer;
}
.membershipDiscountAttention {
    position: absolute;
    bottom: 20px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 0.5rem;
}
.membershipDiscountAttentionTitle {
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
}
.membershipDiscountAttentionSubtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary);
    text-align: center;
}
.membershipSpecials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 50px;
    background: #f6f7f9;
    border: 1px solid #e6e8ee;
    width: 100%;
    height: 100%;
}
.membershipSpecialsContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
.membershipSpecialsContentImageContainer {
    width: 50%;
    height: 100vh;
    padding: 20px;
}
.membershipSpecialsContentImage {
    width: 100%;
    height: 100%;
    
    position: relative;
}
.membershipSpecialsContentTextContainer {   
    width: 50%;
    height: 100%;
}
.membershipSpecialsTitle {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
}
.membershipSpecialsSubtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary);
    text-align: center;
}
.membershipSpecialsDescription {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary);
    text-align: center;
}
.membershipSpecialsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin-left: 20px;
}
.membershipSpecialsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px dashed #878888;
    border-radius: 10px;
    margin: 10px;
}
.membershipSpecialsItemTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
}
.membershipSpecialsItemDescription {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary);
    text-align: center;
}
.membershipSpecialsDisclaimer {
    font-size: 1rem;
    font-weight: 400;
    color: #878888;
    text-align: center;
}
.membershipSpecialsButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.membershipSpecialsButton {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    cursor: pointer;
}