@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #24af2e;
  --secondary: #d0e907;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000;
    --primary: #1b8722;
    --primary-transparent: #032405BB;
    --primary-light: #24af2e;
    --primary-light2: #e6f5e6;
    --primary-dark: #0d4210;
    --secondary: #d0e907;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

html, body {
  overflow-x: hidden;
}
