.processCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    background: var(--primary-dark);
    margin-bottom: 40px;
}
.processContTitle {
    font-size: 32px;
    font-weight: 600;
    font-family: var(--font-montserrat-sans);
    color: white;
    text-align: center;
   
}
.processSteps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    background: var(--primary-dark);
    gap: 1rem;
}
.processStep {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    width: 40%;
    padding: 16px 20px;
    border-radius: 3px;
    background: white;
}
.processStepImageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100px;
    
}
.processStepContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    gap: 8px;
}
.processStepTitle {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-montserrat-sans);
    color: black;
}
.processStepDescription {
    font-size: 19px;
    font-weight: 400;
    font-family: var(--font-montserrat-sans);
    color: black;
}